---
layout: default
title: Home
---

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">
      <i class="far fa-calendar-alt"></i> <span class="content-margin-right"> {{ post.date | date: '%B %d, %Y' }} </span>
      <i class="far fa-clock"></i> <span class="content-margin-right"> {% include reading-time.html content=post.content %} read </span>
      <i class="far fa-comment-dots"></i>
      <a href="{{ site.url }}{{ post.url }}#disqus_thread" data-disqus-identifier="{{ site.disqus-id }}{{ post.url | replace:'index.html','' }}">Join the discussion</a>
    </span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
    <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
    <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>

