.content-center {
    display: flex;
    justify-content: center;
}

.content-margin-right {
     margin-right: 3rem;
}

.content-margin {
    margin-right: .5rem;
    margin-left: .5em;
}

.sidebar-logo {
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.tag {
    border-radius: 5px;
    border: 2px solid #9a9a9a;
    padding: 0 .4rem;
}