---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">
    <i class="far fa-calendar-alt"></i> <span class="post-date-margin"> {{ page.date | date: '%B %d, %Y' }} </span>
    <i class="far fa-clock"></i> <span class="post-date-margin"> {% include reading-time.html content=content %} read </span>
    <i class="far fa-comment-dots"></i> <a href="{{ site.url }}{{ page.url }}#disqus_thread" data-disqus-identifier="{{ site.disqus-id }}{{ page.url | replace:'index.html','' }}"></a>
  </span>
  {{ content }}
</div>

<div class="related">
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>
